<?xml version="1.0" encoding="UTF-8"?>
<Context>
  <Resources cacheMaxSize="15360" /> 
  <Parameter name="spring.datasource.url" value="jdbc:postgresql://localhost:5432/ruches" />
  <Parameter name="spring.datasource.username" value="postgres" />
  <Parameter name="spring.datasource.password" value="postgres" />
  <Parameter name="accueil.titre" value="Les Abeilles de la bas"/>
  <Parameter name="ign.data.key" value="ortho,parcellaire,agriculture,essentiels,qsdfqreqffefesf"/>
  <Parameter name="gg.map.key" value="sqfererghthsez"/>
  <Parameter name="openweathermap.key" value="qgtrhytyk"/>
  <Parameter name="logging.level.ooioo" value="INFO"/>
  <Parameter name="logging.file.name" value="${catalina.base}/logs/ruches.log"/>
  <Parameter name="spring.resources.cache.cachecontrol.max-age" value="7d" />
  <Parameter name="rucher.butinage.rayons" value="750,1500,3000,6000" />
  <Parameter name="hausse.reste.miel" value="1" />
  <Parameter name="essaime.suffix" value="_e" />
  <Parameter name="spring.mail.host" value="smtp.free.fr" />
  <Parameter name="spring.mail.port" value="587" />
  <Parameter name="spring.mail.username" value="toto@free.fr" />
  <Parameter name="spring.mail.password" value="xxxx" />
  <Parameter name="email.from" value="toto@free.fr" />
</Context>